extends layout

block content
  h2 HAT Custom Data Plug
  p.plug-info You can synchronise any of your data with your personal HAT and browse it on Rumpel.
  p.plug-info
    span A few simple steps will get you going:
    ul
      li 1. Authorise the plug to login to your data provider account
      li 2. Select the categories for synchronisation between HAT and data provider
      li 3. See your data appear on Rumpel

  .container
    a.plug-button(href="#") Start Here
    a.plug-button(href="http://www.hatdex.org") Learn more about your data